# Cấu hình Database
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=bakery3d;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=123456

# Cấu hình Email (Gửi mã OTP)
MAIL_USERNAME=vegetableshop88@gmail.com
MAIL_PASSWORD=ixsakgqijctydtlo

# Khóa bí mật mã hóa Token (JWT)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Khóa xác thực Webhook SePay
SEPAY_WEBHOOK_TOKEN=PolyCakeSecured2026